/*
RESET
*/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    max-width: 2000px;
    text-align: center;
}

/*
HEADER
*/

.color-title{
    color:#e53170;
}

.title{
    
    padding-top: 30px;
    padding-bottom: 30px;
}
/*
MAIN
*/
.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

.container{
    width: 80%;
    margin: 0 auto;
    
}

.intro{
    margin-top: 30px;
    margin-bottom: 30px;
}

.bgcolor-cards{
    background-color: #0f0e17;
}

section{
    margin-top: 30px;
    padding-top: 10px;
}
img{
    float: left;
    width: 150px;
    height: 150px;
}

.color{
    
    color:#FFFFFE ;
}
.color2{
    color:#188AD2 ;
    
}
.columns > *{
    
    border:solid 1px #e53170;
    float: left;
    width: calc((100% / 3) - 20px);
    margin-bottom:50px;
    margin-right: 20px;
   
}
.card-style{
    padding-top: 20px;
}